.link {
    color: #000;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.activo {
    background-color: #8005A5;
    color: #fff;            
    font-weight: bold;
    border-radius: 5px;
}

.lista {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 5px;
}

.link:hover {
  color: #000; 
  border-bottom: 2px solid #8005A5; 
}