.contenedorProductos {
    padding: 20px;
    font-family: sans-serif;
}

.titulo {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
}

.listaProductos {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.tarjetaProducto {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.tarjetaProducto:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.imagenProducto {
    height: 150px;
    width: auto;
    object-fit: contain;
    margin-top: 25px;
    margin-bottom: 30px;
}

.tituloProducto {
    font-size: 1.1em;
    font-weight: 600;
    color: #34495e;
    margin: 5px;
    height: 1.2em;
    overflow: hidden;
}

.precioProducto {
    font-size: 1.2em;
    color: #27ae60;
    font-weight: bold;
    margin-bottom: 10px;
}

.botonAgregar {
    background-color: #8005A5;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.2s;
}

.botonAgregar:hover {
    background-color: #000;
}

.enlaceDetalles {
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    font-size: 0.9em;
}

.enlaceDetalles:hover {
    color: #ffff;
    background-color: #8005A5;
}

.mensajeCarga, .mensajeError {
    text-align: center;
    padding: 50px;
    font-size: 1.5em;
    color: #e74c3c;
}

.mensajeCarga {
    color: #8005A5;
}